header{
    padding: 1em;
    color: #fff;
}
.list-primary{
    background-color: aqua;
    width: 200px;
    padding: 0.5em;
    list-style: none;
    
}
.list-primary li {
    cursor: pointer;
    padding: 0 0.2em;
}
.selected{
    background: cornflowerblue;
    color: #fff;
}
.button-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 20px;    
    grid-auto-columns: 1;
}   
@media (min-width: 768px) {
    .button-right{
        grid-template-columns: repeat(5, 1fr);
    }
}